.promotions {
    height: 570px;
}

.promotions .promotionContent {
    text-align: center;
}
.promotions .promotionContent .promotionContentColor {
    color: #0066ff;
}

.promotions .promotionAll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

.promotions .promotionAll .promotionSell {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
}

.promotions .promotionAll .promotionSell .promotionSellUpBackground {
    background-color: #d6d6d8;
    position: relative;
}

.promotions .promotionAll .promotionSell .promotionSellUpBackground .promotionSellUpContent {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellUpBackground
    .promotionSellUpContent
    .promotionSellUpContentMain {
    display: flex;
    column-gap: 8px;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellUpBackground
    .promotionSellUpContent
    .promotionSellUpContentMain
    .promotionSellUpContentMain1 {
    float: left;
    align-self: flex-end;
    margin: 0;
    font-size: 32px;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellUpBackground
    .promotionSellUpContent
    .promotionSellUpContentMain
    .promotionSellUpContentMain2 {
    float: left;
    font-weight: 800;
    font-size: 36px;
    margin: 0;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellUpBackground
    .promotionSellUpContent
    .promotionSellUpContentSub {
    font-weight: 400;
    font-size: 18px;
}
.promotions .promotionAll .promotionSell .promotionSellUpBackground .promotionSellUpImage {
    object-fit: cover;
    height: 100%;
    float: right;
}

.promotions .promotionAll .promotionSell .promotionSellBottomBackground {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord {
    color: white;
}
.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord
    .promotionSellBottomMain {
    font-size: 36px;
    text-align: center;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord
    .promotionSellBottomSpace1 {
    height: 12px;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord
    .promotionSellBottomSup {
    text-align: center;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord
    .promotionSellBottomSpace2 {
    height: 4px;
}
.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord
    .promotionSellBottomSupBox {
    padding: 10px 46px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.promotions
    .promotionAll
    .promotionSell
    .promotionSellBottomBackground
    .promotionSellBottomColorWord
    .promotionSellBottomSupBox
    .promotionSellBottomSupBoxWord {
    color: white;
    opacity: 1;
}

.promotions .promotionAll .promotionDiscount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

.promotions .promotionAll .promotionDiscount .promotionDiscountLeft {
    display: flex;
    background-color: #efe1c7;
    position: relative;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountLeft
    .promotionDiscountLeftBoxContent {
    position: absolute;
    left: 24px;
    top: 20px;
}
.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountLeft
    .promotionDiscountLeftBoxContent
    .promotionDiscountLeftContent {
    font-size: 20px;
    font-weight: 600;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountLeft
    .promotionDiscountLeftBoxContent
    .promotionDiscountLeftSpace {
    height: 8px;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountLeft
    .promotionDiscountLeftBoxContent
    .promotionDiscountLeftPrice {
    display: flex;
    column-gap: 14px;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountLeft
    .promotionDiscountLeftBoxContent
    .promotionDiscountLeftPrice
    .promotionDiscountLeftPrice1 {
    font-size: 20px;
    align-self: flex-end;
    font-weight: 500;
    text-decoration: line-through;
    opacity: 0.5;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountLeft
    .promotionDiscountLeftBoxContent
    .promotionDiscountLeftPrice
    .promotionDiscountLeftPrice2 {
    font-size: 24px;
}

.promotions .promotionAll .promotionDiscount .promotionDiscountLeft .promotionDiscountLeftImage {
    bottom: 0;
}

.promotions .promotionAll .promotionDiscount .promotionDiscountRight {
    display: flex;
    background-color: #d6d6d8;
    position: relative;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountRight
    .promotionDiscountRightBoxContent {
    position: absolute;
    left: 24px;
    top: 20px;
}
.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountRight
    .promotionDiscountRightBoxContent
    .promotionDiscountRightContent {
    font-size: 20px;
    font-weight: 600;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountRight
    .promotionDiscountRightBoxContent
    .promotionDiscountRightSpace {
    height: 8px;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountRight
    .promotionDiscountRightBoxContent
    .promotionDiscountRightPrice {
    display: flex;
    column-gap: 14px;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountRight
    .promotionDiscountRightBoxContent
    .promotionDiscountRightPrice
    .promotionDiscountRightPrice1 {
    font-size: 20px;
    align-self: flex-end;
    font-weight: 500;
    text-decoration: line-through;
    opacity: 0.5;
}

.promotions
    .promotionAll
    .promotionDiscount
    .promotionDiscountRight
    .promotionDiscountRightBoxContent
    .promotionDiscountRightPrice
    .promotionDiscountRightPrice2 {
    font-size: 24px;
}

.promotions .promotionAll .promotionDiscount .promotionDiscountRight .promotionDiscountRightImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
