.title__sub {
    font-size: 80px;
    color: var(--gray-5);
    text-transform: capitalize;
}

.title__main {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    text-transform: capitalize;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
}

.title {
    position: relative;
}

.title__sub--bold {
    font-weight: 700;
}

.title__large {
    font-size: 32px;
}

.title__sub--large {
    font-size: 120px;
}

.title__sub--bold-color {
    color: var(--gray15);
}
