.product__information {
    margin: 30px 100px;
}

.product__information hr {
    height: 2px;
    border-width: 0;
    background-color: var(--gray-10);
}

.product__information h3 {
    margin: 60px 0px;
}

.product__details,
.product__care {
    display: grid;
    grid-template-columns: 4fr 9fr;
    margin-top: 50px;
}

.product__details h4,
.product__care h4 {
    color: var(--gray-80);
}

.product__details p,
.product__care p {
    color: var(--black-80);
}

.product__details p + p {
    margin-top: 20px;
}

.product__care li + li {
    margin-top: 10px;
}

.product__care ul {
    font-weight: 600;
    padding-left: 12px;
}
