/**
   * LEFT PART 
   */

.product__overview {
    height: 90vh;
    display: flex;
}

.overview__left {
    display: flex;
    height: inherit;
}

.product__thumbnail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product__thumbnail img {
    width: 100px;
    cursor: pointer;
}

.product__main-img {
    margin-left: 100px;
    height: inherit;
}

/**
   * RIGHT PART 
   */

.overview__right {
    margin-left: 20px;
}

.product__share {
    display: flex;
    gap: 20px;
}

.product__link-btn {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px solid var(--gray-10);
    border-radius: 50%;
}

.product__link-icon {
    vertical-align: middle;
    color: var(--gray-80);
}

.product__share-btn {
    width: max-content;
    height: 35px;
    padding: 0px 12px;
    background-color: white;
    border: 2px solid var(--gray-10);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.product__share-icon {
    color: var(--gray-80);
}
.product__name {
    font-weight: 500;
    margin-top: 20px;
    width: 300px;
}

.overview__right form {
    margin-top: 50px;
}

.overview__right form p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.size-select {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.size-select label {
    position: relative;
    border: 2px solid var(--gray-80);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.size-select span {
    font-weight: 700;
    color: var(--gray-80);
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.size-select input:checked + span {
    color: var(--black-80);
    border-color: blueviolet;
}

.size-select input {
    display: none;
}

.product__buy {
    display: flex;
    margin-top: 40px;
}

.add-to-card-btn {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0px 16px;
    font-size: 0.8rem;
    border-width: 0;
    font-weight: 500;
    background-color: var(--black-80);
    width: max-content;
    height: 30px;
}

.add-to-card-icon {
    margin: auto;
}

.add-to-card-btn:hover {
    opacity: 0.9;
}

.product__price {
    padding: 2px 20px;
    font-weight: bold;
}
