.navBar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-80);
    cursor: pointer;
    padding-right: 12px;
    margin-bottom: 24px;
}

.navBar__navBarItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    text-transform: capitalize;
}

.navBar__navBarItem:not(:last-child) {
    margin-bottom: 14px;
}

.navBarItem__title {
    color: var(--black-80);
}

.navBarItem__icon {
    color: var(--gray-80);
}

.navBar__navBarItem--active {
    background-color: var(--black-80);
}

.navBarItem__title--active,
.navBarItem__icon--active {
    color: white;
}
