.navBar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-80);
    cursor: pointer;
    padding: 12px;
    padding-left: 4px;
    margin-bottom: 4px;
    transition: all 1s ease;
}

.navBar__head--active {
    background-color: var(--black-80);
}

.navBar__head__icon--active,
.navBar__head__title--acitve {
    color: white;
}

.navBar__head__title {
    text-transform: uppercase;
}

.navBar__navBarItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    text-transform: capitalize;
    transition: all 1s ease;
}

.navBar__navBarItem:hover {
    background-color: var(--gray-70);
}

.navBar__navBarItem:not(:last-child) {
    margin-bottom: 14px;
}

.navBarItem__title {
    color: var(--black-80);
}

.navBarItem__icon {
    color: var(--gray-80);
}

.navBar__navBarItem--active {
    background-color: var(--black-80);
}

.navBarItem__title--active,
.navBarItem__icon--active {
    color: white;
}
