.header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}
.header__header-left {
    display: flex;
    column-gap: 40px;
}

.header-left__nav {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.nav__nav-list {
    margin: 0;
    padding: 0;
}

.nav-list__li {
    display: inline;
    cursor: pointer;
    font-size: 13px;
}

.nav-list__li:not(:last-child) {
    margin-right: 22px;
}

.header-left__search-box {
    display: flex;
    align-items: center;
    padding: 0 14px;
    /* position: absolute; */
    gap: 6px;
    min-width: 308px;
}

.search-box__input {
    outline: 0;
    border: 0;
    padding: 10px 0;
    width: 80%;
    font-size: 13px;
}

.header__header-right {
    display: flex;
    column-gap: 18px;
    align-items: center;
}

.header-right__user-info {
    display: flex;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
}

.user-info__name-container {
    text-align: end;
}

.name-container__greeting {
    font-weight: 600;
    font-size: 13px;
    color: var(--gray-80);
}

.name-container__name {
    font-weight: 700;
    font-size: 14px;
    color: var(--black-80);
}

.header-right__button {
    display: flex;
    background: var(--gray-10);
    border: 2px solid var(--gray-20);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    color: var(--gray-80);
    margin-bottom: 44px;
}

.footer__des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.des_intro {
    font-size: 12px;
}

.des__social {
    display: flex;
    column-gap: 10px;
}

.social__buton {
    display: flex;
    background: var(--gray-10);
    border: 0;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
}

.footer__company-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.company-info__title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.company-info__list {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
}

.company-info__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.tag-link {
    color: var(--gray-80);
    text-decoration: none;
}

.autocomplete {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: white;
    color: var(--gray-20);
    border: 1px solid var(--gray-10);
    border-radius: 8px;
    transition: all 1s ease-in-out;
}

.header-left__search {
    position: relative;
    width: 400px;
}

.header-left__search-item {
    padding: 8px 16px;
    border-top: 1px;
    border-top-color: var(--gray-10);
    border-top-style: solid;
    cursor: pointer;
}

.header-left__search-item:hover {
    background-color: var(--gray-10);
}

.header-left__search--not-found {
    padding: 16px;
    text-align: center;
}
